@import "./variables";

.main {
  .switch {
    border: 1px solid #ccc;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block;
    float: right;
    position: absolute;
    right: 1rem;
    top: 1rem;

    &.on {
      background: #548C2F;
    }

    &.on .toggle {
      left: 23px;
    }

    .toggle {
      border: 1px solid #999;
      box-shadow: 1px 1px 1px #ccc;
      width: 25px;
      height: 24px;
      left: 0;
      border-radius: 12px;
      background: white;
      position: relative;
      transition: left .2s ease-in-out;
    }
  }
}
